<p id="notice"><%= notice %></p>
<h1><b>LOG IN</b></h1>

<%= form_for(:session, url: login_path) do |f| %>
  

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, size: 50 %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, size: 50 %>
  </div>

  
  <div class="checkbox inline">
    <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Log in"%>
    <%= link_to "Sign up", controller: "users", action: "new"%>
  </div>
<% end %>
