<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <%= link_to "HOME", root_path, id: "logo" %>
    <%if logged_in?%>
      <%=link_to "New Post", new_post_path, id: "newpost"%>
    <%end%>
    
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Users", users_path%></li>
        <% if logged_in? %>
          <li><%= link_to "My posts", current_user%> </li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
          <li><%=link_to "Sign up", new_user_path%></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>

      </ul>
    </nav>
  </div>
</header>